<div class="container">
  <h1>Consulta de beneficiarios - Asistencia técnica</h1>
  <form (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="padding: 1em 2em;">
      <mat-card-content class="mat-card">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Cédula de ciudadanía
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
              [matTooltipPosition]="'above'"
              matTooltip="Búsqueda sugerida, ingrese al menos un carácter"
              matTooltipClass="info-tooltip"
            >
              <input
                matInput
                aria-label="documentoNumero"
                type="text"
                maxlength="1000"
                required
                [matAutocomplete]="autocc"
                [formControl]="documentoNumeroCtrl"
                required
              />
              <mat-autocomplete #autocc="matAutocomplete">
                <mat-option *ngFor="let m of filteredDocumento | async" [value]="m.documentoNumero">
                  <span>{{ m.documentoNumero }}</span> |
                  <small>{{m.nombreCompleto}}</small>|
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Municipio
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
              [matTooltipPosition]="'above'"
              matTooltip="Búsqueda sugerida, ingrese al menos un carácter"
              matTooltipClass="info-tooltip"
            >
              <input
                matInput
                aria-label="municipio"
                type="text"
                maxlength="1000"
                required
                [matAutocomplete]="automun"
                [formControl]="municipioCtrl"
              />
              <mat-autocomplete #automun="matAutocomplete">
                <mat-option *ngFor="let m of filteredMunicipios | async" [value]="m.municipio">
                  <span>{{ m.codigoMunicipio }}</span> |
                  <small>{{m.departamento}}</small>|
                  <small>{{m.municipio}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="row" style="justify-content: center;">
          <div class="col-6" style="margin-right: 15px !important; ">
            <button mat-raised-button
            color="accent"
            type="submit"
            class="btn-table btn-consultar"
            [disabled]="this.documentoNumeroCtrl.value == null && this.municipioCtrl.value == null"
            >
            Consultar
          </button>
          </div>
          <div class="col-6">
            <button mat-raised-button
            color="accent"
            class="btn-table btn-limpiar"
            (click)="clear()"
          >
            Limpiar
          </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  <section class="d-flex justify-content-center table-responsive tabla-gris" *ngIf="dataSource.filteredData.length > 0">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="documentoTipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo de documento</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.documentoTipo }}</td>
      </ng-container>
      <ng-container matColumnDef="documentoNumero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Número de documento</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.documentoNumero }}</td>
      </ng-container>
      <ng-container matColumnDef="nombreCompleto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.nombreCompleto }}</td>
      </ng-container>
      <ng-container matColumnDef="departamento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Departamento/Municipio</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.departamento }} / {{ element.municipio }}</td>
      </ng-container>
      <ng-container matColumnDef="correoElectronico">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
        <td mat-cell *matCellDef="let element" align="center">{{ element.correoElectronico }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  <label *ngIf="dataSource.filteredData.length <= 0 && isSearch == true">No se encontraron resultados</label>

</div>

