
.vs/WebApplication/FileContentIndex/4d5ab2a1-99f3-4c98-9433-920af8a7cd7f.vsidx
.vs/WebApplication/v17/.suo
*.vsidx
.vs/WebApplication/v17/.suo
.vs/WebApplication/v17/.suo
.vs/WebApplication/v17/.suo
.vs/WebApplication/v17/.suo
.vs/WebApplication/v17/.suo
.vs/WebApplication/v17/.suo
obj/WebApplication.csproj.nuget.g.targets
*.targets
obj/WebApplication.csproj.nuget.g.targets
.vs/WebApplication/DesignTimeBuild/.dtbcache.v2
.vs/WebApplication/v16/.suo
obj/Debug/net6.0/Tsc35c2fe86.out
*.v2
obj/project.nuget.cache
obj/WebApplication.csproj.nuget.g.targets
obj/WebApplication.csproj.nuget.g.props
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net6.0/WebApplication.pdb
obj/Debug/net6.0/WebApplication.GeneratedMSBuildEditorConfig.editorconfig
*.dll
obj/Debug/net6.0/WebApplication.csproj.FileListAbsolute.txt
obj/Debug/net6.0/WebApplication.csproj.AssemblyReference.cache
obj/Debug/net6.0/WebApplication.assets.cache
obj/Debug/net6.0/ref/WebApplication.dll
.vs/WebApplication/DesignTimeBuild/.dtbcache.v2
obj/WebApplication.csproj.nuget.g.targets
obj/Debug/net6.0/WebApplication.dll
obj/Debug/net6.0/WebApplication.pdb
obj/staticwebassets.pack.sentinel
.vs/WebApplication/v17/.suo
.vs/WebApplication/v17/.suo
*.sentinel
.vs/WebApplication/v17/.suo
