<div class="container">
  <h1>Consulta de beneficiarios - Asociatividad</h1>
  <form (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card" style="padding: 1em 2em;">
      <mat-card-content class="mat-card">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Cédula de ciudadanía
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
              [matTooltipPosition]="'above'"
              matTooltip="Búsqueda sugerida, ingrese al menos un carácter"
              matTooltipClass="info-tooltip"
            >
              <input
                matInput
                aria-label="documentoNumero"
                type="text"
                maxlength="1000"
                [matAutocomplete]="autocc"
                [formControl]="documentoNumeroCtrl"
                required
              />
              <mat-autocomplete #autocc="matAutocomplete">
                <mat-option *ngFor="let m of filteredDocumento | async" [value]="m.documentoNumero">
                  <span>{{ m.documentoNumero }}</span> |
                  <small>{{m.nombreCompleto}}</small>|
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="pr-1">
                  <label class="label-left">
                    Municipio
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="col d-flex">
            <mat-form-field
              class="full-width"
              [matTooltipPosition]="'above'"
              matTooltip="Búsqueda sugerida, ingrese al menos un carácter"
              matTooltipClass="info-tooltip"
            >
              <input
                matInput
                aria-label="municipio"
                type="text"
                maxlength="1000"
                required
                [matAutocomplete]="automun"
                [formControl]="municipioCtrl"
              />
              <mat-autocomplete #automun="matAutocomplete">
                <mat-option *ngFor="let m of filteredMunicipios | async" [value]="m.municipio">
                  <span>{{ m.codigoMunicipio }}</span> |
                  <small>{{m.departamento}}</small>|
                  <small>{{m.municipio}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
        <div class="row" style="justify-content: center;">
          <div class="col-6" style="margin-right: 15px !important; ">
            <button mat-raised-button
            color="accent"
            type="submit"
            class="btn-table btn-consultar"
            [disabled]="this.documentoNumeroCtrl.value == null && this.municipioCtrl.value == null"
            >
            Consultar
          </button>
          </div>
          <div class="col-6">
            <button mat-raised-button
            color="accent"
            class="btn-table btn-limpiar"
            (click)="clear()"
          >
            Limpiar
          </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
  <div *ngIf="data.length > 0">
    <app-table [data]="data"></app-table>
  </div>
  <label *ngIf="data.length <= 0 && isSearch == true">No se encontraron resultados</label>
</div>

